<!DOCTYPE html>
<html>
<head>
    <title>Issue Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Issue Book</h1>

<form method="POST">

<label>Student</label>

<select name="student_id">

{% for student in students %}
<option value="{{ student.id }}">
{{ student.name }}
</option>
{% endfor %}

</select>

<label>Book</label>

<select name="book_id">

{% for book in books %}
<option value="{{ book.id }}">
{{ book.title }}
</option>
{% endfor %}

</select>

<button type="submit">
Issue Book
</button>
<a href="/send_reminders" class="btn btn-warning">
    Send Email Reminders
</a> 
</form>

</body>
</html>